body {
    background-color: rgb(237, 237, 237);
    margin: 0;
    padding: 0;
  }
  
  #Main, #Summary, #Experience, #Education {
    position: relative;
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    overflow: hidden;
    border-bottom: dashed 2px rgb(237, 237, 237);
  }
  
  #central-block {
    margin: 0 auto;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    height: 130px;
  }
  
  #bigHi {
    font-family: 'Montserrat', sans-serif;
    font-size: 130px;
    font-weight: 700;
    line-height: 130px;
    color: rgb(252, 252, 252);
  }
  
  #name {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2px;
    color: rgb(252, 252, 252);
  }
  
  #name span {
    color: rgb(254, 255, 200);
  }
  
  #profession {
    width: 420px;
    height: 100px;
    margin-top: 70px;
    margin-left: 340px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2px;
    color: rgb(147, 147, 147);
    text-align: right;
  }
  
  #profession span {
    font-family: 'Handlee', cursive;
    font-weight: 400;
    color: rgb(252, 252, 252);
  }
  
  .next {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(204, 204, 204);
  }
  
  #about-me, #skills {
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 50px;
    width: 500px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 4px;
    color: rgb(252, 252, 252);
  }
  
  #short-info{
    margin: 0 auto;
    width: 830px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #short-info p {
    width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-indent: 40px;
    line-height: 28px;
    color: rgb(140, 140, 140);
  }
  
  #face {
    height: 260px;
  }
  
  #skills {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 60px;
    color: rgb(140, 140, 140);
  }
  
  #skill-box {
    width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  #Iknow, #Istudy {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    list-style: none;
    text-align: center;
  }
  
  #skill-box li{
    color: rgb(240, 240, 240);
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #skill-box li:nth-child(1) {
    margin-bottom: 16px;
    font-family: 'Kalam', cursive;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  #Iknow li:nth-child(1){
    color: rgb(179, 228, 131);
  }
  
  #Istudy li:nth-child(1){
    color: rgb(228, 131, 131);
  }
  